body {
  font-family: 'Brandon Grotesque', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  src: url('BrandonGrotesque-Medium.woff2') format('woff2');
}

h2 {
  text-align: center;
  color: orangered;
}

button {
  background-color: orangered;
  color: white;
  border-radius: 20px;
  padding: 10px 20px 10px 20px;
  border: 1.5px solid lightgrey;
  float: right;
}

.item {
  padding: 5px;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.item > label {
  padding-left: 10px;
}

.box-item {
  border-radius: 5px;
  width: 100%;
  height: 40px;
  border: 1.5px solid lightgrey;
  padding-left: 10px;
  color: lightgrey;
}

select {
  background-color: lightgrey;
}

select.box-item {
  color: black;
}
